#EXPRESS
SERVER_PORT=3000

#ENVIRONMENT
NODE_ENV=development

#JWT
SERVER_JWT=true
SERVER_JWT_SECRET=supersecretkey
SERVER_JWT_TIMEOUT=1d

#DATABASE
DB_DIALECT=sqlite
DB_HOST=
DB_USER=
DB_PASS=
DB_NAME=database.sqlite

#AWS
AWS_KEYID=dummy
AWS_SECRETKEY=dummy
AWS_BUCKET=dummy